<!DOCTYPE html>
<html>
<head>

    <title>Password Security</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

    <h1>Cyber Threat Intelligence Dashboard</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/threats">Threats</a>
        <a href="/phishing">Phishing</a>
        <a href="/password">Password Security</a>
        <a href="/tips">Security Tips</a>
    </nav>

</header>

<main>

    <h2>Password Strength Checker</h2>

    <p>
        Enter a password to test its security strength.
    </p>

    <input type="password"
    id="passwordInput"
    placeholder="Enter password">

    <button onclick="checkPassword()">
        Check Password
    </button>

    <h3 id="result"></h3>

</main>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>