<!DOCTYPE html>
<html>
<head>

    <title>Phishing Awareness</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

    <h1>Cyber Threat Intelligence Dashboard</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/threats">Threats</a>
        <a href="/phishing">Phishing</a>
        <a href="/password">Password Security</a>
        <a href="/tips">Security Tips</a>
    </nav>

</header>

<main>

    <h2>Phishing Awareness</h2>

    <p>
        Phishing is a cyberattack where criminals use fake emails,
        messages, or websites to trick people into giving away
        sensitive information.
    </p>

    <div class="card-container">

        <div class="card">
            <h3>Fake Login Page</h3>
            <p>
                Attackers create websites that look like real login pages
                to steal usernames and passwords.
            </p>
        </div>

        <div class="card">
            <h3>Urgent Email</h3>
            <p>
                Phishing emails often use fear or urgency, such as
                “Your account will be closed today.”
            </p>
        </div>

        <div class="card">
            <h3>Suspicious Links</h3>
            <p>
                Attackers may hide dangerous links behind buttons or
                shortened URLs.
            </p>
        </div>

    </div>

</main>

</body>
</html>